.loader {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-border {
  width: 6rem !important;
  height: 6rem !important;
  border-width: .5em !important;
  border-color: var(--primary) !important;
  border-right-color: transparent !important;
}
