@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body * {
  margin: 0;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cursor-pointer {
  cursor: pointer;
}

.svg-inline--fa.disabled {
  color: #6c757d !important;
  pointer-events: none;
}

.table td {
  vertical-align: middle;
}

.fz-14 {
  font-size: 14px;
}

.fz-2 {
  font-size: 2px;
}

.result-code {
  position: sticky;
  top: 140px;

  code {
    white-space: pre-wrap;
  }
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.2rem !important;
}

input {
  color: #000 !important;

  &::placeholder {
    color: #ccc !important;
  }
}

header {
  padding: 1rem 0;
  background-color: #fff;
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.template-form {
  padding-top: 15px;
}
